.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 72px;
  background-color: white;
  z-index: 2;
  padding-top: 5px;
}

.sidebar-link:hover {
  cursor: pointer;
  background-color: rgb(239, 239, 239);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 5px;
}

.sidebar-text {
  font-size: 10px;
}

.sidebar-link {
  height: 74px;
  display: flex;
}

@media (max-width: 1200px) {
  .sidebar-link {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media (min-width: 1200.1px) {
  .sidebar {
    width: 200px;
  }
  
  .sidebar-link {
    padding-left: 20px;
    align-items: center;
    justify-content: start;
    flex-direction: row;
  }

  .sidebar-text {
    margin-left: 10px;
    padding-bottom: 4px;
  }
}