.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 1300px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 660px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}


.thumbnail {
  width: 100%;
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.video-time {
  position: absolute;
  right: 5px;
  bottom: 10px;
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 6px;
  border-radius: 3px;
  opacity: 0.9;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 10px;
}

.channel-picture-box {
  position: relative;
}

.channel-picture-box:hover .tooltip {
  opacity: 1;
}

.channel-picture-box .tooltip {
  position: absolute;
  bottom: -35px;
  padding: 12px 20px;
  border-radius: 6px;
  box-shadow: 2px 0px 5px 1px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

.channel-picture-box .tooltip .profile-picture {
  width: 50px;
  height: 50px;
}

.channel-picture-box .tooltip .channel-info {
  margin-left: 10px;
}

.channel-picture-box .tooltip .channel-name {
  font-weight: bold;
  margin-bottom: 3px;
}

.channel-picture-box .tooltip .channel-subscribers {
  color: rgb(59, 59, 59);
  font-size: 14px;
}

.channel-picture {
  display: inline-block;
  vertical-align: top;
  width: 50px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.video-info {
  display: inline-block;
}

.video-title {
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 14px;
}

.video-author, .video-stats {
  font-size: 13px;
  color: gray;
}

.video-author {
  margin-bottom: 4px;
}